{% capture append = "oxidBlock_content" %}
    {% set template_title = "CHANGE_PASSWORD"|translate %}

    {% if oView.isPasswordChanged() %}
        <div class="alert alert-success">
            {{ translate({ ident: "MESSAGE_PASSWORD_CHANGED" }) }}
        </div>
    {% endif %}
    {% if Errors|is_array and Errors.user|is_array and not empty(Errors.user) %}
        <div class="alert alert-danger">
            {% for key, oEr in Errors.user %}
                <p>{{ oEr.getOxMessage() }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <h1 id="personalSettingsHeader" class="page-header">{{ translate({ ident: "CHANGE_PASSWORD" }) }}</h1>

    {% include "form/user_password.html.twig" %}

    {{ insert_tracker({title: template_title}) }}
{% endcapture %}

{% capture append = "oxidBlock_sidebar" %}
    {% include "page/account/inc/account_menu.html.twig" with {active_link: "password"} %}
{% endcapture %}

{% include "layout/page.html.twig" with {sidebar: "Left"} %}
