<li>
    <a href="{{ seo_url({ ident: oViewConf.getSelfLink()|cat("cl=basket") }) }}" rel="nofollow">
        <i class="fa fa-shopping-cart"></i>
        {% if isset(oxcmp_basket) and oxcmp_basket.getItemsCount() > 0 %}
            {{  oxcmp_basket.getItemsCount()  }}
        {% endif %}
    </a>
</li>
