{% block dd_widget_sidebar_shoplupe_ratings %}
    <div class="box well well-sm">
        <section>
            <div class="page-header h3">{{ translate({ ident: "SHOPLUPE" }) }}</div>
            {% block dd_widget_sidebar_shoplupe_ratings_inner %}
                <div class="content">
                    <p class="shoplupe">
                        <a href="http://www.shoplupe.com" target="_blank" title="{{ translate({ ident: "SHOPLUPE" }) }}">
                            <img src="{{ oViewConf.getImageUrl('shoplupe.jpg') }}" alt="{{ translate({ ident: "SHOPLUPE" }) }}" width="119" height="133">
                        </a>
                    </p>
                </div>
            {% endblock %}
        </section>
    </div>
{% endblock %}
