{% if Errors|is_array and Errors.default|is_array and not empty(Errors.default) %}
    {% for key, oEr in Errors.default %}
        <p class="alert alert-danger">{{ oEr.getOxMessage() }}</p>
    {% endfor %}
{% endif %}
{% if Errors.popup|is_array and not empty(Errors.popup) %}
    {% include "message/errors_modal.html.twig" %}
{% endif %}